/*=========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,400;1,600&display=swap');
/* Base */
:root {
  /*========  Colors ======== */

  --primary-color: #3075c6;
  --hover-color: #195ba9;
  --hoverTabs-color: #595959;
  --secontary-color: #313131;
  --text-color: #474747;
  --main-grey: #aeaeae;
  --light-grey: #f4f4f4;
  --main-white: #fff;

  /* Primary Shades */

  --bright-navy-blue: #3075C6ff;
  --tufts-blue: #4D88CEff;
  --little-boy-blue: #6A9CD6ff;
  --french-sky-blue: #87AFDFff;
  --baby-blue-eyes: #A3C2E7ff;
  --beau-blue: #C0D6EFff;
  --alice-blue: #DDE9F7ff;

  /*========= Z index =========*/

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* Font size for Large devices */

  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========= Font weight =========*/

  --font-medium: 500;
  --font-semi-bold: 600;

  /*========= Margins Bottom =========*/

  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-0-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Main Styling */
html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-white);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  color: var(--text-color);
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

button {
  border: none;
}

.btn {
  display: inline-block;
  color: var(--main-white);
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-weight: 500;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.button:hover {
  background-color: var(--hover-color);
  transition: 0.8s;
}

.nav-links a:hover {
  color: #525252;
  text-decoration: none;
}
/*========  NavMenu ======== */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: var(--main-white);
  position: fixed;
  z-index: 10;
  width: 100%;

}

.logo {
  cursor: pointer;
  padding: 1rem 0 1.5rem 0;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #313131;
  text-decoration: none;
  text-decoration: none;
  font-size: var(--normal-font-size);
  font-weight: 600;
  letter-spacing: 1.5px;
}

a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  }

/* Fade in NavLinks*/
.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  }

 a:hover::after,
 a:focus::after {
opacity: 1;
transform: translate3d(0, 0.2em, 0);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #313131;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 1;  
  }
  .burger {
    display: block;
  }
  .logo {
    
    padding: 1rem;
   width: 250px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1024px) {
  .nav__links {
    width: 60%;
  }
  .nav__links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

/*========  Showcase ======== */

#showcase {
  position: relative;
  color: var(--text-color);
  background: var(--main-white);
  padding: 2rem;
}

#showcase {
  content: '';
  background: url(/IMG/Homepage/Header/showcase2.jpg) no-repeat center
    center/cover;
  width: 100%;
  height: 100vh;
}

/* Showcase Text Animation */

.showcase-animation{
  animation:bounce-in-top 1.8s both
}
@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}

.showcase__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.showcase__content div h1 {
  font-size: 4rem;
  color: rgb(230, 238, 248);  
  padding: 1rem 0 2.5rem 0;
  margin-bottom: 2rem;
}

.showcase__content div {
  text-align: center;
  margin-top: 250px;
}
/* Top Destinations */
#top__destinations {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF 2.08%, #DDE9F7 34.38%, rgba(221, 233, 247, 0.609375) 71.87%, rgba(196, 196, 196, 0) 100%);
}
.container__gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  
  margin-bottom: 50px;
}

.galley__title {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  color: var(--secontary-color);
  margin-top: 50px;
  margin-bottom: 50px;
}
.gallery__container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1rem;
}

.fade::after{
  content: "TTRAVEL";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade:hover::after{
  opacity: 0.5;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.grid__item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}
.grid__item2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid__item3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid__item4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 10;
}

.grid__item5 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 10;
}

.grid__item {
  position: relative;
}

.grid__item:hover {
  transform: scale(1.2);
  transition: 0.5s;
  z-index: 999;
}
.grid__item img {
  position: absolute;
}


/*========  Why Choose Section ======== */
.wrapper {
  display: flex;
  justify-content: center;
  background: #fff;
}
.why_choose__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 4rem;
}

.why_choose__img {
  height: 400px;
}
.why_choose__container2 {
  width: 40%;
}

.why_choose__container2 h1 span {
  color: var(--secontary-color);
}

.why_choose__container2 h1 {
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
}

.why_choose__container2 {
  color: var(--text-color);
}


/*======== Events ======== */
#events {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #FFFFFF 2.08%, #DDE9F7 34.38%, rgba(221, 233, 247, 0.609375) 71.87%, rgba(196, 196, 196, 0) 100%);
}

.events__title {
  margin-bottom: 50px;
  margin-top: 50px;
}
.events__container {
  display: flex;
  margin: 1rem;
  
}

.box-event {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 16px;
  background-color: var(--hoverTabs-color);
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  border-radius: 8px 0px 0px 0px;
}

.box-event img {
  height: 400px;
  width: 350px;
  object-fit: cover;
  margin: 1rem;
}

/*======== Companies ======== */

#companies__container {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;
}

.companies__wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  background: var(--text-color);
  border-radius: 12px;
  align-items: center;
  padding: 1rem;
}

.companies_box1 {
  background: #313131;
  border-radius: 12px;
  color: var(--main-white);
  padding: 1rem;
}
.companies_box1 h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.svg__icons {
  height: 40px;
  width: auto;
  padding: 0.5rem;
  padding-right: 30px;
}

/*======== Footer ======== */
#footer_container {
  width: 100%;
  height: 40vh;
  background-color: var(--secontary-color);
  padding: 3rem;
}

.footer__wrapper {
  display: flex;
  justify-content: space-evenly;
  color: var(--main-white);
  width: 100%;
  margin-top: 20px;
}

.logo__footer {
  cursor: pointer;
}
.footer_links{
  display: flex;
  flex-direction: row;
  
}
.footer_links li a {
  display: flex;
  color: var(--main-white);
  font-size: 0.8rem;
  padding: 0.7rem;
  padding-top: 1.2rem;
}

.newsletter h3 {
  padding: 0 0 0.3rem 0;
  color: var(--primary-color);
}

.contact__input__footer{
  padding: 0.25rem 0.5rem 0.5rem 0;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
  width: 100%;
  background-color: #f5f5f5;
  color: var(--text-color);
  font-size: 0.8rem;
  border: none;
  outline: none;
}

.button__footer {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  margin-left: 0.6rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.button__footer:hover {
  background-color: var(--hover-color);
}

.social__icons__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social__icons__container i{
  font-size: 1.8rem;
  color: var(--primary-color);
  padding: 1rem;
  cursor: pointer;
}

.social__icons:hover {
  color: var(--hover-color);
}


/*======== Showcase2 =========*/

#showcase2 {
  position: relative;
  color: var(--text-color);
  background: var(--main-white);
  padding: 2rem;
}

#showcase2{
  content: '';
  background: url(/Destinations/Header/img3.jpg) no-repeat center
    center/cover;
  width: 100%;
  top: 10vh;
  height: 30vh;
}

.showcase2__container {
  display: flex;
  flex-direction: row;
  
  
}

.showcase2__content h1 {
  position: absolute;
  font-size: 1.5rem;
  color: 235894;
  padding: 1rem;
  margin-top: 60px;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

/*======== Destinations =========*/
#destinations {
  width: 100%;
  margin-top: 50px;
}

.destinations__container {
  width: 100%;
}

.destinations__container > .destinations__box:nth-child(odd) {
  background: #ffffff;
}

.destinations__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.destinations__box {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(221,233,247,1) 36%, rgba(221,233,247,1) 66%, rgba(255,255,255,1) 100%)
}

.destinations__img {
  object-fit: cover;
  width: 40%;
}

.destinations__img img {
  border-radius: 10px 40px 100px 10px;
  border: #dde9f7 solid 8px;
}

.destinations__content {
  width: 40%;
}

.destinations__content ul {
  display: flex;
}

.destinations__content ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
}
.destinations__content ul li,
h3 {
  padding: 0.5rem;
  margin: 0;
}

.destinations__content p {
  padding: 0.5rem;
}

.destinations__content h3 {
  padding: 0.3rem;
}
.destinations__content li:first-child a {
  color: var(--primary-color);
}

/* Tabs */
.tabs li {
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab.active {
  color: var(--primary-color);
}

.tab:hover {
  color: var(--hoverTabs-color);
}

/* Tabs content */ 

#price p span {
  font-size: 1rem;
  font-weight: 500;
}
.uil1{
  color: var(--primary-color);
}
/*======== Contact us =========*/
#contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  padding-bottom: 100px;
  background: linear-gradient(180deg, #FFFFFF 2.08%, #DDE9F7 34.38%, rgba(221, 233, 247, 0.609375) 71.87%, rgba(196, 196, 196, 0) 100%);
}

.contact__form {
  width: 40%;
}

.section__subtitle {
  color: var(--primary-color);
  position: relative;
  left: 47px;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 600;
}

.contact__icon {
  font-size: 2rem;
  color: var(--text-color);
  margin-right: 0.2em;
}

.contact__title {
  font-size: 1rem;
  font-weight: 800;
}

.contact__subtitle {
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.contact__content {
  background-color: #e4e8ebbe;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem 1rem 0.8rem;
  margin: 1rem;
}

.button__contact {
  margin: 0 0 0 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.contact__label {
  font-size: 0.8rem;
  color: var(--text-color);
}

.contact__input {
  width: 100%;
  background-color: #f5f5f5;
  color: var(--text-color);
  font-size: 0.8rem;
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
}

.information__container {
  display: flex;
  justify-content: space-evenly;

  margin: 100px 0 100px 0;
}

.contact__information {
  width: 200px;
  background: #ffffff;
  /* Shadow / 500 */
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 10px;
}

.contact__information div {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email__container {
  display: flex;
}

.error-hint {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.button__footer {
  padding: 0.4rem;
  font-size: var();
}
/*======== About us =========*/


#about__us {
  width: 100%;
}

.about__us__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  margin-top: 100px;
}

.about__us__content {
  padding: 0 1rem 0 3rem;
  width: 70%;
}

.slide {
  width: 500px;
  height: 300px;
  border-radius: 10px 100px 100px 10px;
  border: #dde9f7 solid 8px;
}

/*======== Testimonials =========*/

#testimonials {
  width: 100%;
}

.testimonials__container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.testimonials_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background: var(--main-white);
  padding: 1rem;
  /* Shadow / 500 */

  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  border-radius: 10px;
}

.testimonial__description {
  font-size: 0.7rem;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
}

.testimonial__icon-star {
  color: orange;
}
.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial__employee {
  color: var(--primary-color);
  font-size: var(--small-font-size);
}

.testimonial__name {
  font-size: var(--normal-font-size);
}




/*==== Feedback Message ====*/
.hidden {
  display: none;
}

.thank-you {
  padding: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #333;
}

/* Animation While Scrolling */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}